# Entornos virtuales (Python, etc.)
venv/
env/
.venv/
.env/

# Variables de entorno y secretos
.env

# Dependencias (Node.js)
node_modules/
.gmlenv/
__pycache__/
*.pyc

# Archivos del sistema (macOS/Windows)
.DS_Store
Thumbs.db

# Claude AI
.claude